// Creates top and bottom border on one or a group of elements
@mixin border-sandwich($border, $just-filling: false) {
  @if ($just-filling) {
    &:not(:first-of-type) { 
      border-top: $border;
    }
  } @else {
    border-bottom: $border;
    &:first-of-type {
      border-top: $border;
    }
  }
}